@tailwind base;
@tailwind components;
@tailwind utilities;
@import "tailwindcss";


* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

.custom-glow {
  text-shadow:
    0 0 4px #22c55e,
    0 0 8px #facc15,
    0 0 12px #22c55e;
}
